
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #333;
  color: #f1f1f1;
  font-family: Consolas, monospace;
  font-size: 10pt;
}

textarea {
  -moz-tab-size: 2;
  tab-size: 2;
}

textarea#editor {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-family: Consolas, monospace;
  font-size: 10pt;
  color: #f1f1f1;
  background: transparent;
  border: none;
}

pre#debug {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  margin: 0 20px;
  padding: 15px;
  font-family: Consolas, monospace;
  font-size: 10pt;
  color: #a1f1a1;
  background: rgba(0,0,0, .3);
}
